body{
    background-color: aqua;
}
.one{
    background-color: chartreuse;
}
.two{
    background-color: chartreuse;
}
h1{
    background-color: darkblue;
}
h2{
    background-color: darkblue;
}
p{
    background-color: darkblue;
}